h1 {
    background-color: aqua;
    color: white;
}

.main {
    width: 100vw;
    height: 100vh;
}

.center {
    width: 50vw;
    margin: auto;
}

input {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}