.main_div {
    background: #6983aa;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.center_div {
    /* height: 25%; */
    height: 100vh;
    width: 80vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);

}

h1 {
    background-color: rgb(180, 144, 144);
    color: white;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
}

input {
    text-align: center;
    top: 10px;
    border: none;
    width: 90%;
    height: 35px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}

button {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #8566aa;
    color: white;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.3);
}

.todo_style {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.todo_style .fa-times {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8566aa;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-times:hover {
    background-color: red;
}

ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
}

button:hover {
    background-color: aqua;
}